SERVER_URL=
LOGIN_ACCEPTED=LOGIN_ACCEPTED
TEACHER_LOGIN_ID=
SCENE_CHANGED=SCENE_CHANGED
TASK_CHANGED=TASK_CHANGED
MATERIAL_TO_PREVIEW=MATERIAL_TO_PREVIEW
KEYWORD_LIST_SUBMITTED=KEYWORD_LIST_SUBMITTED
EDIT_KEYWORD_LIST=EDIT_KEYWORD_LIST
VIDEO_PLAYER_READY=VIDEO_PLAYER_READY
TABBAR_LOADED=TABBAR_LOADED
LOAD_WEBPAGE=LOAD_WEBPAGE
YOUTUBE_BASE_IMAGE_URL=http://img.youtube.com/vi/
ADD_MATERIAL_TO_PORTFOLIO=ADD_MATERIAL_TO_PORTFOLIO
TASK_PORTFOLIO_UPDATE=TASK_PORTFOLIO_UPDATE
REFRESH_COMPLETED_TASKS=REFRESH_COMPLETED_TASKS
TWEET_SUBMITTED=TWEET_SUBMITTED
XMPP_SERVER=
XMPP_CLIENT_DEFAULT_PASSWORD=
TWEETS_ROOM_NAME=
TWEETS_COMMUNICATION_ROOM_NAME=
TWEET_POST_SUCCESSFUL=TWEET_POST_SUCCESSFUL
TWEET_SERVER_URL=
TWEET_SELECTION_CHANGE=TWEET_SELECTION_CHANGE
REFRESH_TWEETS=REFRESH_TWEETS
REFRESH_TWEETS_PORTFOLIO=REFRESH_TWEETS_PORTFOLIO
RE_TWEET=RE_TWEET
CLOSE_TWEET_PORTFOLIO_PREVIEW=CLOSE_TWEET_PORTFOLIO_PREVIEW
SHOW_TWEETS_BUTTON_EVENT=SHOW_TWEETS_BUTTON_EVENT
SHOW_FULLSCREEN=SHOW_FULLSCREEN
ENERGY_CHOSEN=ENERGY_CHOSEN
RESET_ENERGY=RESET_ENERGY
QUESTIONS_ROOM_NAME=
REFRESH_NRJS=REFRESH_NRJS
SHOW_FULLSCREEN_BUTTON_EVENT=SHOW_FULLSCREEN_BUTTON_EVENT
CAPTURE_FULLSCREEN=CAPTURE_FULLSCREEN
IPAD_SESSION_REQUEST=IPAD_SESSION_REQUEST
IPAD_SESSION_ACCEPTED=IPAD_SESSION_ACCEPTED
IPAD_SESSION_DISCONNECT=IPAD_SESSION_DISCONNECT
OBJECT_DROP=OBJECT_DROP
REFRESH_QUESTIONS=REFRESH_QUESTIONS
SHOW_ZOOMED_TXT=SHOW_ZOOMED_TXT
HIDE_ZOOMED_TXT=HIDE_ZOOMED_TXT
CHECK_SIMQUESTION_ANSWER_STATUS=CHECK_SIMQUESTION_ANSWER_STATUS
SIMULATION_LEVEL_1=VARMEOVERFØRING
SIMULATION_LEVEL_2=KOMPONENTER
SIMULATION_LEVEL_3=TRYKKVARIASJONER
APP_UPDATE_URL=
CHANGE_NRJ_SOURCE=CHANGE_NRJ_SOURCE
UNSAVED_EDIT_TRUE=UNSAVED_EDIT_TRUE
UNSAVED_EDIT_FALSE=UNSAVED_EDIT_FALSE